{% extends 'base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block body %}
    
    <div class="form-search-content mt-[3rem] mb-[4rem] desktop-width">
        <div class="content w-full">
            {{ form_start(form) }}
                {{ form_row(form.maxPrice) }}
                {{ form_row(form.minSurface) }}
                <div class="w-[27%]">
                    {{ form_rest(form) }}
                </div>
                <button type="submit" class="btn-search">Search</button>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="head-properties desktop-width">
        <h1 class="text-3xl font-bold my-8 pt-serif">Found <span class="text-main">{{nb_results}}</span> Properties for sell & rent</h1>
    </div>
    
    <section class="properties-section desktop-width">
        <div class="content mb-4 flex flex-wrap gap-12 justify-center">
            {% for property in properties %}
                {% include '_files/property-grid.html.twig' with {'property':property} %}
            {% endfor %}
        </div>
        <div class="navigation flex justify-center mt-[4rem] mb-[7rem]">
            {{ knp_pagination_render(properties) }}
        </div>
    </section>

{% endblock %}
