{% extends 'base.html.twig' %}

{% block title %}Hello PropertyController!{% endblock %}

{% block body %}

    <div class="head-properties">
        <h1>Found 32 Properties for sell & rent</h1>
    </div>

    <div class="form-search-content my-4 desktop-width">
        {{ form_start(form) }}
            {{ form_row(form.maxPrice) }}
            {{ form_row(form.minSurface) }}
            {{ form_rest(form) }}
            <button type="submit" class="btn-search">Search</button>
        {{ form_end(form) }}
    </div>
    
    <section class="properties-section desktop-width">
        <div class="content mb-4 flex flex-wrap gap-12 justify-center">
            {% for property in properties %}
                {% include '_files/property-grid.html.twig' with {'property':property} %}
            {% endfor %}
        </div>
        <div class="navigation flex justify-center mt-[4rem] mb-[7rem]">
            {{ knp_pagination_render(properties) }}
        </div>
    </section>

{% endblock %}
