{% extends 'base.html.twig' %}

{% block title %}Properties{% endblock %}

{% block body %}
    
    <div class="form-search-content mt-[3rem] mb-[4rem] desktop-width">
        <span id="open-filters" class="sm:hidden flex gap-2 cursor-pointer w-[5rem] ms-auto">
            <svg fill="#1c5588" width="25px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <title>filter</title>
                <path d="M30 6.749h-28c-0.69 0-1.25 0.56-1.25 1.25s0.56 1.25 1.25 1.25v0h28c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0zM24 14.75h-16c-0.69 0-1.25 0.56-1.25 1.25s0.56 1.25 1.25 1.25v0h16c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0zM19 22.75h-6.053c-0.69 0-1.25 0.56-1.25 1.25s0.56 1.25 1.25 1.25v0h6.053c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0z"></path>
            </svg>
            <span class="text-lg text-main">Filters</span>
        </span>
        <div class="content w-full sm:block hidden">
            <div class="sm:hidden flex justify-end mb-8">
                <i id="close-filters" class="fa fa-xmark border-[3px] border-white text-white p-[15px] cursor-pointer hover:text-red-700"></i>
            </div>
            {{ form_start(form) }}
                {{ form_row(form.maxPrice) }}
                {{ form_row(form.minSurface) }}
                <div class=" sm:w-[27%] w-full">
                    {{ form_rest(form) }}
                </div>
                <button type="submit" class="btn-search">Search</button>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="head-properties desktop-width">
        <h1 class="text-3xl font-bold my-8 pt-serif">Found <span class="text-main">{{nb_results}}</span> Properties for sell & rent</h1>
    </div>
    
    <section class="properties-section desktop-width">
        <div class="content mb-4 flex flex-wrap gap-12 justify-center">
            {% for property in properties %}
                {% include '_files/property-grid.html.twig' with {'property':property} %}
            {% endfor %}
        </div>
        <div class="navigation flex justify-center mt-[4rem] mb-[7rem]">
            {{ knp_pagination_render(properties) }}
        </div>
    </section>

{% endblock %}
