{% extends 'base.html.twig' %}

{% block title %}{{ property.title }} {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
{% endblock %}

{% block body %}

<section class="property-section property-width">
    <div class="content mt-[5rem] mb-[10rem]">
       <div class="top flex sm:flex-row flex-col gap-8">
            <div class="img relative max-w-[550px] w-full">
                {% if vich_uploader_asset(property, 'imageFile') is null %}
                    <img class="w-full" src="{{ 'http://localhost:8000/images/properties/empty.jpg'}}" alt="property">
                {% else %}
                    <img class="w-full" src="{{ vich_uploader_asset(property, 'imageFile') }}" alt="property">
                {% endif %}

                {% if property.tag  %}
                    <div class="ribbon show pt-serif">
                        {{ property.tag }}
                    </div>
                {% endif %}
            </div>
            <div class="infos">
                <h1 class="property-title">{{ property.title }}</h1>
                <h2 class="text-[1.5rem] mt-[10px] font-bold"> {{ property.rooms }} Rooms - {{ property.surface }} m² - {{ property.city }} <br> {{ property.address }}</h2>
                
                <h3 class="text-main text-[3rem] font-bold mt-[10px] ">{{ property.formatedPrice }} $</h3>
                <button type="button" class="btn-submit ">Book now</button>
            </div>
       </div>
       <div class="techniques flex sm:flex-row flex-col">
            <div class="tech-1 sm:w-1/2 w-full">
                <h4 class="font-bold text-[2rem] text-main mt-8 mb-4">Details</h4>
                <table class="tech-table" border="0">
                    <tr>
                        <td>City</td>
                        <td class="font-semibold">{{ property.city }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td class="font-semibold">{{ property.address }}</td>
                    </tr>
                    <tr>
                        <td>living space</td>
                        <td class="font-semibold">{{ property.surface }} m²</td>
                    </tr>
                    <tr>
                        <td>Rooms</td>
                        <td class="font-semibold">{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Bed rooms</td>
                        <td>{{ property.bedRooms }}</td>
                    </tr>
                    <tr>
                        <td>Floor</td>
                        <td class="font-semibold">{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Heating</td>
                        <td class="font-semibold">{{ property.typeHeat }}</td>
                    </tr>
                </table>
            </div>
            <div class="tech-2">
                <h4 class="font-bold text-[2rem] text-main mt-8 mb-4">Specificities</h4>
                <div class="options flex flex-col gap-[10px]">
                    {% if property.options  is not empty  %}
                        {% for option in property.options %}
                            <p class="property-option">{{ option }} </p>
                        {% endfor %}
                    {% else %}
                       <p class="text-lg text-gray-500">Specificities not found</p>
                    {% endif %}
                    
                </div>
            </div>
        </div>
        <div class="map-section">
            <span id="lat" data-latitude="{{ property.latitude }}"></span>
            <span id="long" data-longitude="{{ property.longitude }}"></span>
            <h4 class="font-bold text-center text-[2rem] text-main mt-[4rem] mb-4">Location</h4>
            <div class="map-content">
                <p id="network-error" class=" text-center text-gray-600 text-lg">Map not available due to Network <span class="text-red-700">ERROR</span></p>
                <div id="map">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin="" defer></script>
     
{% endblock %}
